<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Postcards!</title>
</head>
<body>
    <header>
        <h1>Postcards !</h1>
        <nav class="nav">
            <ul class="nav_bar_list">
                <li><a href="#">Home</a></li>
                <li><a href="/api/postcards">Postcards</a></li>
            </ul>
        </nav>
    </header>
    <section class="container">
        <div class="postcard">
            <div class="postcard-img">
                <img src="https://megaconstrucciones.net/images/rascacielos/foto/empire-state-building.jpg" width="200px" height="300px" alt="">
            </div>
            <div class="postcard-text">
                <h3>Title for the postcard</h3>
                <p>description of the postcad</p>
                <p>Rating <b>10/10</b></p>
            </div>
        </div>
        <div class="postcard">
            <div class="postcard-img">
                <img src="https://megaconstrucciones.net/images/rascacielos/foto/empire-state-building.jpg" width="200px" height="300px" alt="">
            </div>
            <div class="postcard-text">
                <h3>Title for the postcard</h3>
                <p>description of the postcad</p>
                <p>Rating <b>10/10</b></p>
            </div>
        </div>
        <div class="postcard">
            <div class="postcard-img">
                <img src="https://megaconstrucciones.net/images/rascacielos/foto/empire-state-building.jpg" width="200px" height="300px" alt="">
            </div>
            <div class="postcard-text">
                <h3>Title for the postcard</h3>
                <p>description of the postcad</p>
                <p>Rating <b>10/10</b></p>
            </div>
        </div>
        <div class="postcard">
            <div class="postcard-img">
                <img src="https://megaconstrucciones.net/images/rascacielos/foto/empire-state-building.jpg" width="200px" height="300px" alt="">
            </div>
            <div class="postcard-text">
                <h3>Title for the postcard</h3>
                <p>description of the postcad</p>
                <p>Rating <b>10/10</b></p>
            </div>
        </div>
    </section>
</body>
</html>